<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19</title>

    <!-- map configuration -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>

   <!-- icon configuration -->
   <script src="https://kit.fontawesome.com/a076d05399.js"></script>

   <!-- styles -->
   <link rel="stylesheet" href="/styles/main.css">
   <link rel="stylesheet" href="/styles/buttons.css">
   <link rel="stylesheet" href="/styles/menu.css">
   <link rel="stylesheet" href="/styles/confirmed.css">
   <link rel="stylesheet" href="/styles/deaths.css">
   <link rel="stylesheet" href="/styles/recovered.css">
   <link rel="stylesheet" href="/styles/countries.css">

</head>
<body>
    <div class="page-container">
        <div id="mapid"></div>
        <form class="search-box" action="/" method="POST">
            <input type="text" placeholder="Country name" class="search" name="search">
            <button class="search-button" type="submit">
                <i class="fas fa-search"></i>
            </button>
            <div class="close-search-button">
                <i class="fas fa-times"></i>
            </div>
        </form>
        <input type="checkbox" style="display: none;">
        <label for="global">
            <div class="global-button">
                <i class="fas fa-globe-americas"></i>
            </div>
        </label>
        <aside>
            <div class="title-box">
                <h1>COVID-19</h1>
                <span id="title">{{ title }}</span>
            </div>
            <div class="confirmed-box">
                <section class="icon-confirmed">
                    <img src="/icons/confirmed.svg" alt="" width="30">
                </section>
                <span>
                    <h2>Confirmed</h2>
                    <p id="confirmed">{{ confirmed }}</p>
                </span>
                
            </div>
            <div class="deaths-box">
                <section class="icon-deaths">
                    <img src="/icons/deaths.svg" alt="" width="30">
                </section>
                <span>
                    <h2>Deaths</h2>
                    <p id="deaths">{{ deaths }}</p>
                </span>
            </div>
            <div class="recovered-box">
                <section class="icon-recovered">
                    <img src="/icons/recovered.svg" alt="" width="30">
                </section>
                <span>
                    <h2>Recovered</h2>
                    <p id="recovered">{{ recovered }}</p>
                </span>
            </div>
            <div class="countries-box">
                <section class="icon-countries">
                    <img src="/icons/countries.svg" alt="" width="30">
                </section>
                <span>
                    <h2>Countries</h2>
                    <p id="countries">{{ countries }}</p>
                </span>
            </div>
        </aside>
    </div>
    
    <script src="/scripts/map.js"></script>
    <script src="/scripts/voice.js"></script>
    <script src="/scripts/search.js"></script>
</body>
</html>