<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19</title>

    <!-- map configuration -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>

   <!-- icon configuration -->
   <script src="https://kit.fontawesome.com/a076d05399.js"></script>

   <!-- styles -->
   <link rel="stylesheet" href="/styles/main.css">
   <link rel="stylesheet" href="/styles/buttons.css">
   <link rel="stylesheet" href="/styles/menu.css">
   <link rel="stylesheet" href="/styles/confirmed.css">
   <link rel="stylesheet" href="/styles/dead.css">
   <link rel="stylesheet" href="/styles/cured.css">
   <link rel="stylesheet" href="/styles/countries.css">

</head>
<body>
    <div class="page-container">
        <div id="mapid"></div>
        <form class="search-box">
            <input type="text" placeholder="Digite o nome país" class="search">
            <button class="search-button">
                <i class="fas fa-search"></i>
            </button>
            <div class="close-search-button">
                <i class="fas fa-times"></i>
            </div>
        </form>
        <input type="checkbox" id="voice" style="display: none;">
        <label for="voice">
            <div class="voice-button">
                <i class="fas fa-microphone"></i>
            </div>
        </label>
        <aside>
            <div class="title-box">
                <h1>COVID-19</h1>
                <span id="title">{{ title }}</span>
            </div>
            <div class="confirmed-box">
                <section class="icon-confirmed">
                    <img src="/icons/confirmed.svg" alt="" width="30">
                </section>
                <span>
                    <h2>Infectados</h2>
                    <p id="confirmed">{{ confirmed }}</p>
                </span>
                
            </div>
            <div class="dead-box">
                <section class="icon-dead">
                    <img src="/icons/dead.svg" alt="" width="30">
                </section>
                <span>
                    <h2>Mortos</h2>
                    <p id="dead">{{ dead }}</p>
                </span>
            </div>
            <div class="cured-box">
                <section class="icon-cured">
                    <img src="/icons/cured.svg" alt="" width="30">
                </section>
                <span>
                    <h2>Curados</h2>
                    <p id="cured">{{ cured }}</p>
                </span>
            </div>
            <div class="countries-box">
                <section class="icon-countries">
                    <img src="/icons/countries.svg" alt="" width="30">
                </section>
                <span>
                    <h2>Países</h2>
                    <p id="countries">{{ countries }}</p>
                </span>
            </div>
        </aside>
    </div>
    
    <script src="/scripts/map.js"></script>
    <script src="/scripts/index.js"></script>
    <script src="/scripts/animations.js"></script>
    <script src="/scripts/voice.js"></script>
</body>
</html>